/* src/styles/Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222; /* Dark color */
  padding: 10px 20px;
  color: white;
}

.navbar h1 {
  margin: 0;
  font-size: 22px;
}

.links a {
  margin-left: 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.links a:hover {
  text-decoration: underline;
}
